<div class="btn-group pull-right">
    <a id="{{menu.id}}-editor" class="btn btn-small" href="{{ path(menu.href, {'id' : menu.id }) }}">
        <b class="icon icon-edit"></b>{{ menu.label }}
    </a>
    <a id="{{menu.id}}-menu" class="btn btn-small dropdown-toggle no-wrap" data-toggle="dropdown">
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="{{id}}-menu">
        {%  include 'menu.items.twig' with {'items' : menu.items} %}
    </ul>
</div>