{% if item.divider is defined %}
<li class="divider"></li>
{% else %}
    {% if item.id is defined %}
        {% set action = path(item.href, {'id' : item.id }) %}
    {% else %}
        {% set action = path(item.href) %}
    {% endif %}
<li><a role="menuitem" data-title="{{ item.title }}" {% if item.confirm is defined %} data-toggle="modal" data-target="#confirm" data-href="{{ action }}" data-content="{{ item.confirm }}">{% else %} href="{{ action }}">{% endif %}{% if item.icon is defined %}<b class="icon {{ item.icon }}"></b>{% endif %}{{ item.title }}</a></li>

{% endif %}

