{% extends 'base.twig' %}

{% block content %}
<h3>{{ T_('Operations') }}</h3>

<ul id="tabs" class="nav nav-tabs">
  <li><a href="#active" data-toggle="tab">{{ T_('Open') }}</a></li>
  <li><a href="#closed" data-toggle="tab">{{ T_('Closed') }}</a></li>
</ul>

<div class="tab-content" style="width: auto; overflow: visible">
    <div id="active" class="tab-pane active">
	<ul class="unstyled">
		{% for operation in operations_open %}
		{% else %}
			<div class="alert alert-info">{{ T_('No open operations at the moment') }}</div>
		{% endfor %}
	</ul>
</div>

<div id="closed" class="tab-pane">
	<ul class="unstyled">
		{% for operation in operations_closed %}
		{% else %}
			<div class="alert alert-info">{{ T_('No closed operations at the moment') }}</div>
		{% endfor %}
	</ul>
</div>
{% endblock %}

{% block footer_script %}
<script>
    R.toTab('tabs');
</script>
{% endblock %}