<div class="row-fluid text-center page-header">
    <div class="span6">
        <h3>{{ name | raw}}</h3>
    </div>
    <div id="state" class="span6 label label-{{ status.label }}">
        <i class="icon icon-{{ status.icon }} fill circle {{ status.color }} icon-white"></i>
        {{ status.short | raw}}
    </div>
</div>

<div class="row-fluid">
{% if map|length > 0 %}
    <div class="span6" >
        {{ map.inject | raw}}
        <script type="text/javascript">
            {{ map.install | raw}}
        </script>
        <div id="map"></div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#positions">
                    Posisjoner
                </a>
            </div>
            <div id="positions" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div id="nopos">{{ map.positions.empty }}</div>
                    <span id="lt1kmtitle" class="hide"><b>{{ map.positions.title.lt1km | raw }}</b></span><hr/>
                    <ul class="unstyled" id="lt1km"></ul></ul>
                    <span id="ge1kmtitle" class="hide"><b>{{ map.positions.title.ge1km | raw }}</b></span><hr/>
                    <ul class="unstyled" id="ge1km"></ul>
                </div>
            </div>
        </div>
    </div>
{% endif %}
    <div class="span6">
        <h4>{{ status.title }}</h4>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#status">
                    {{ status.reason | raw }}
                </a>
            </div>
            <div id="status" class="accordion-body collapse {% if map|length > 0 %}in{% endif %}">
                <div class="accordion-inner">
                    {{ status.details | raw }}
                    {{ status.checks | raw }}
                </div>
            </div>
        </div>
    </div>
    <div class="span6">
        <h4>{{ actions.title }}</h4>
        {{ message | raw}}
        <ul id="actions" class="nav nav-tabs nav-stacked">
            {% for action in actions.items %}
                <li> {{ action | raw }} </li>
            {% endfor %}
        </ul>
    </div>
    <div class="row-fluid {% if map|length > 0 %}span6{% endif %}">
        <h4>{{ details.title | raw }}</h4>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#details">
                    {{ handset.title | raw }}
                </a>
            </div>
            <div id="details" class="accordion-body collapse in">
                <div class="accordion-inner">
                    {{ handset.details | raw }}
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#events">
                    {{ events.title | raw }}
                </a>
            </div>
            <div id="events" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <dl class="dl-horizontal">
                        {% for event in events.items %}
                            <dt> {{ event.time | raw }} </dt>
                            <dd> {{ event.text | raw }} </dd>
                        {% endfor %}
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>