{% extends 'base.twig' %}

{% if data is not defined %}
	{% set data = {'m_name':'',
				   'm_mobile_country':selected_country,
				   'm_mobile':'',
				   'mb_mobile_country':selected_country,
				   'mb_mobile':''}
	%}
{% endif %}

{% block content %}
	<h3>{{ T_('Start trace of missing') }}</h3>
<form method="post">
	<fieldset class="new-missing pull-left" style="margin-right: 2em;">
		<legend>{{ T_('About the missing') }}</legend>

		<label for="m_name">{{ T_('First name of missing') }}</label>
		<input class="input-block-level" type="text" id="m_name" name="m_name" value="{{data.m_name}}"
			placeholder="{{ T_('First name') }}" autofocus required>

        <div class="row-fluid">
            <div class="span4">
                <label for="m_mobile_country">{{ T_('Mobile country') }}</label>
                {% embed "select.country.twig"
                	with {'name': 'm_mobile_country',
                		  'selected_country': data.m_mobile_country} %}
                {% endembed %}
            </div>
            <div class="span8">
                <label for="m_mobile">{{ T_('Mobile number of missing') }}</label>
                <input class="input-block-level" type="tel" id="m_mobile" name="m_mobile" value="{{data.m_mobile}}"
                	placeholder="{{ T_('Only numbers, no spaces') }}" required pattern="[0-9]*">
            </div>
        </div>
	</fieldset>
    
	<fieldset class="new-missing pull-left">
		<legend>{{ T_('Report to') }}</legend>

        <div class="row-fluid">
            <div class="span4">
                <label for="mb_mobile">{{ T_('Mobile country') }}</label>
                {% embed "select.country.twig"
                	with {'name': 'mb_mobile_country',
                		  'selected_country': data.mb_mobile_country} %}
                {% endembed %}
            </div>
            <div class="span8">
                <label for="mb_mobile">{{ T_('Mobile number') }}</label>
                <input class="input-block-level" type="tel" id="mb_mobile" name="mb_mobile" value="{{data.mb_mobile}}" 
                	placeholder="{{ T_('Only numbers, no spaces') }}" required pattern="[0-9]*">
            </div>
        </div>	</fieldset>

	<div class="clearfix"></div>
    <div class="alert alert-info">
        <em>{{ T_('A SMS is sent automatically to the missing when tracing is initiated') }}</em>
        <button type="button" data-toggle="readmore" class="toggle btn btn-mini btn-info pull-right">
        	{{ T_('Read more') }}
        </button>	
        <div id="readmore" style="display:none;">
            <h4>{{ T_('SMS-text') }}</h4>
            <div class="alert">{{SMS_TEXT_MISSING}}</div>
            <h4>{{ T_('Tracing page') }}</h4>
            <p>{{ T_('When the missing opens the SMS link, a webpage is loaded and will prompt the user for positioning access') }}</p>
            <p>
                <strong>{{ T_('Load time') }}</strong>
                <br />
                {{ T_('The webpage is approximately 1,9Kb, which should take less than a second to open on a bad cell reception') }}.
                {{ T_('Still, it is important that the missing is patient, and let the browser use whatever time it needs to open the positioning webpage') }}.
            </p>
            <p>
                <strong>{{ T_('Repeated positioning') }}</strong>
                <br />
                {{ T_('If the position is inaccurate, the tracing positioning webpage will reload after 10 seconds') }}.
                {{ T_('The user will be shown a countdown, and the page will reload') }}.
                {{ T_('This will be repeated 10 times, or until the positioning is sufficient accurate') }}.
                <br />
                {{ T_('All traces will be available in %1$s')|format('<a href="%1$s"></a>')|format(path('missing/list'))}}
                <br />
            </p>
        </div>
	</div>        
	<div class="clearfix"></div>
    <button type="submit" class="btn btn-success">{{ T_('Start trace') }}</button>
</form>
{% endblock %}