{% extends "base.twig" %}

{% block title %}
    {{ T_('Change Password') }} ({{title}})
{% endblock %}

{% block content %}
    {% embed 'form.twig' %}
        {% block header %}{{ user.name }}{% endblock %}
        {% block content %}
<div class="row-fluid">
    <div class="span3">
        <label class="control-label" for="password">{{ T_('Password') }}</label>
        <input id="password" name="password" type="password" placeholder="{{ T_('Minimum %1$s characters') | format(security.password.length) }}" class="input-block-level" required>
    </div>
    <div class="span3">
        <label class="control-label" for="repeat-pwd">{{ T_('Repeat Password') }}</label>
        <input id="repeat-pwd" name="repeat-pwd" type="password" placeholder="{{ T_('Minimum %1$s characters') | format(security.password.length) }}" class="input-block-level" required equalTo="#password">
    </div>
</div>
        {% endblock %}
        {%  block submit_title %}{{ T_('Change') }}{% endblock %}
    {% endembed %}
{% endblock %}