{% extends "base.twig" %}

{% block title %}{{ T_('Reset Password') }} ({{title}}){% endblock %}

{% block content %}
    {% embed 'form.twig' %}
        {% block header %}{{ T_('Reset Password') }}{% endblock %}
        {% block content %}
<label class="control-label" for="email">{{- T_('Username') -}}</label>
<input id="email" name="email" type="email" placeholder="{{ T_('Enter your e-mail') }}" class="input-block-level" required>
        {% endblock %}
        {%  block submit_title %}{{ T_('Reset') }}{% endblock %}
        {%  block cancel_onclick %}location.href='{{ path('login') }}';{% endblock %}
    {% endembed %}
{% endblock %}