<select id="{{id}}" name="{{id}}" type="select" class="input-block-level" {{ attributes|default('required') }}>
{% for value,name in options %}
	<option value="{{value}}" {% if selected == value %}selected="selected"{% endif %}>{{name}}</option>
{% endfor %}
</select>