<form id="{{ id }}" name="{{ id }}" class="row-fluid">
    <div class="control-group span12">
        <label class="control-label" for="{{ id }}-textarea">{{ label }}</label>
        <div class="controls">
            <textarea id="{{ id }}-textarea" class="input-block-level">{{ text }}</textarea>
        </div>
    </div>
</form>