{% extends 'base.twig' %}

{% block title %}
    {{ T_('Start') }} ({{title}})
{% endblock %}

{% block content %}
<div class="jumbotron hero-unit">
	<h1>{{ T_('Get started') }}</h1>
	<p class="lead">{{ T_('Use mobile phone to trace persons fast and easy.') }}</p>
	<a class="btn btn-large btn-danger" href="{{path('trace/new')}}">{{ T_('Start new trace')}}</a>
	<a class="btn btn-large btn-info" href="{{path('trace/list')}}">{{ T_('See active traces') }}</a>
</div>
{% endblock %}