{% if rows is empty %}
<tr><td class="" style="width: 100%" colspan="{{ columns|length + 1 }}">{{ no_data|default(T_('No rows found')) }}</td>
{% else %}
    {% for id,row in rows %}
<tr id="{{ id }}" {% if row.target is defined %}data-target="{{ row.target }}"{% endif %}>
        {% for column in columns %}
    <td class="{{ column.class|default('') }}{% if row.target is defined %} clickable{% endif %}">{{ attribute(row, column.name) }}</td>
        {% endfor %}
    <td class="{{ column.class|default('') }} editor">
        {% if row.editor is defined %}
            <div class="btn-group pull-right">
                <a class="btn btn-small" href="{{ path('user/edit/id', {'id' : id}) }}">
                    <b class="icon icon-edit"></b>{{ T_('Edit') }}
                </a>
                <a class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </a>
                {% embed 'menu.twig' with { 'items' : row.editor }%}{% endembed %}
            </div>
        {% endif %}
    </td>
</tr>
    {% endfor %}
{% endif %}