{% extends 'design_admin.twig' %}

{% if user.name is not defined %}
	{% set user = {'name': '', 'email': '', 'mobile': ''} %}
{% endif %}

{% block content %}
	<h3>{% block pagetitle %}{% trans "Create new user" %}{% endblock %}</h3>
	<form method="post">
		<fieldset class="span5 new-user pull-left">
			<legend>{% trans "About the user" %}</legend>
			<div class="controls">
				<label>{% trans "Name" %}</label>
			    <input type="text" name="name" value="{{user.name}}" class="span4" placeholder="{% trans "Full name" %}" autofocus required />
			</div>
			<div class="controls">
				<label>{% trans "E-mail address" %}</label>
			    <input class="span4" type="email" value="{{user.email}}" name="email" placeholder="{% trans "For logon and system alerts" %}" required />
			</div>
			<div class="controls">
				<label>{% trans "Mobile country" %}</label>
                <select name="country" placeholder="{% trans "For dial code" %}" required>
                    {{countries}}
                </select>
			    <input type="tel" name="mobile" value="{{user.country}}" placeholder="{% trans "For dial code" %}" required />
			</div>
			<div class="controls">
				<label>{% trans "Mobile phone" %}</label>
			    <input type="tel" name="mobile" value="{{user.mobile}}" placeholder="{% trans "For tracing status" %}" required pattern="[0-9]*" />
			</div>
		</fieldset>
		
		<fieldset class="span3 pull-left">
			<legend>{% trans "User settings" %}</legend>
			<strong>{% trans "Still to come.." %}</strong>
		</fieldset>

		<fieldset class="span5 new-user pull-left">
			<legend>{% block password %}{% trans "Set password" %}{% endblock %}</legend>

			<div class="controls">
				<label>
					<input type="checkbox" name="autopass" disabled />
					{% trans "Set password automatically" %}
				</label>
			</div>
			<div align="center"> or </div>
			<div class="controls">
				<label>{% trans "User password" %}</label>
			    <input type="password" name="password" class="span3" placeholder="{% trans "Password" %}" {% if editmode is not defined %}required{% endif %} id="pwd" />
		    </div>
   			<div class="controls">
				<label>{% trans "Repeat password" %}</label>
			    <input type="password" name="confirm-pwd" class="span3" placeholder="{% trans "Repeat password" %}" {% if editmode is not defined %}required{% endif %} equalTo="#pwd" />
			</div>
		</fieldset>
		
		
		<div class="clearfix"></div>
	    <div class="alert alert-info">
	        <em>{% trans "Need help?" %}</em>
	        <button type="button" data-toggle="readmore" class="toggle btn btn-mini btn-info pull-right">{% trans "Yes please, show help" %}</button>	
	        <div id="readmore" style="display:none;">
	            <h4>{% trans "Still to come" %}</h4>
	        </div>
	    </div>
	    <button type="submit" class="btn btn-success">{% if editmode is defined %}Save changes{% else %}{% trans "Create user" %}{% endif %}</button>
	    
	</form>
{% endblock %}