{% extends 'design_admin.twig' %}

{% if data is not defined %}
	{% set data = {'m_name':'', 'm_mobile':'', 'mb_name':'', 'mb_mail':'', 'mb_mobile':''} %}
{% endif %}

{% block content %}
	<h3>{% trans "Start trace of missing" %}</h3>
	<form method="post">
		<fieldset class="span6 new-missing pull-left">
			<legend>{% trans "About the missing" %}</legend>
	
			<label>{% trans "Name of missing" %}</label>
			<input class="input-block-level" type="text" name="m_name" value="{{data.m_name}}" placeholder="{% trans "Full name" %}" autofocus required>
			<span class="help-block"></span>
	
			<label>{% trans "Mobile number of missing" %}</label>
			<input class="input-block-level" type="tel" name="m_mobile" value="{{data.m_mobile}}" placeholder="{% trans "Only numbers, no spaces" %}" required pattern="[4|9]{1}[0-9]{7}">
			<span class="help-block"></span>
		</fieldset>
		
		<fieldset class="span6 new-missing pull-left">
			<legend>{% trans "About you" %}</legend>
	
			<label>{% trans "Your name" %}</label>
			<input class="input-block-level"  type="text" name="mb_name" value="{{data.mb_name}}" placeholder="{% trans "Full name" %}" required>
			<span class="help-block"></span>
	
			<label>{% trans "Your e-mail address" %}</label>
			<input class="input-block-level" type="email" name="mb_mail" value="{{data.mb_mail}}" placeholder="{% trans "E-mail address" %}" required>
			<span class="help-block"></span>
	
			<label>{% trans "Your mobile number" %}</label>
			<input class="input-block-level" type="tel" name="mb_mobile" value="{{data.mb_mobile}}" placeholder="{% trans "Only numbers, no spaces" %}" required pattern="[4|9]{1}[0-9]{7}">
			<span class="help-block"></span>
		</fieldset>
	
		<div class="clearfix"></div>
	    <div class="alert alert-info">
	        <em>{% trans "A SMS is sent automatically to the missing when tracing is initiated" %}</em>
	        <button type="button" data-toggle="readmore" class="toggle btn btn-mini btn-info pull-right">{% trans "Read more" %}</button>	
	        <div id="readmore" style="display:none;">
	            <h4>{% trans "SMS-text" %}</h4>
	            <div class="alert">{{SMS_TEXT_MISSING}}</div>
	            <h4>{% trans "Tracing page" %}</h4>
	            <p>{% trans "When the missing opens the SMS link, a webpage is loaded and will prompt the user for positioning access." %}</p>
	            <p>
	                <strong>{% trans "Load time" %}</strong>
	                <br />
	                {% trans "The webpage is approximately 1,9Kb, which should take less than a second to open on a bad cell reception. Still, it is important that the missing is patient, and let the browser use whatever time it needs to open the positioning webpage." %}
	            </p>
	            <p>
	                <strong>{% trans "Repeated positioning" %}</strong>
	                <br />
	                {% trans "If the position is inaccurate, the tracing positioning webpage will reload after 10 seconds. 
	                The user will be shown a countdown, and the page will reload. This will be repeated 10 times, or until the positioning is sufficient accurate." %}
	                <br />
	                {% trans %}All traces will be available in the <a href="{{APP_ADMIN_URI}}list/missing/">traces-page</a>{% endtrans %}
	                <br />
	            </p>
	
	        </div>
	    </div>        
	
		<div class="clearfix"></div>
	    <button type="submit" class="btn btn-success">{% trans "Start trace" %}</button>
		
	</form>
{% endblock %}

